$contenborder :1px solid lightgray;
$black-colors :#202124;
$color-primary :#1a73e8;


@mixin pagecontent {
    padding: 1.5vh;
    width: 30%;
     height: 80vh; 
     padding: 20px 40px 20px 40px; 
     border: $contenborder;
     border-radius: 5px;
     margin-top: 100px;   
}

@mixin login-desp {
    margin : -1vh 0vw 3vh 0vw;
    font-weight: 400;   
}

@mixin forgot {
    font-size: 14px;
    color: $color-primary ;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    margin: -0vh 0vw 2vh 0vw;  
}

.main-page{
    width: 100%;
    margin: 15vh 0vw;
    justify-content: center;
    
    .page-container{  
         @include pagecontent();
    
        .login-title{
            display: flex;
            font-size: 25px;
            justify-content: center;
            margin-bottom: 10px;
        } 

        .sign-in{
            font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
            font-size: 24px;
            line-height: 1.3333;
            @include login-desp();
        }

        .account{    
            font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
            color: $black-colors;
            font-size: 16px;
            letter-spacing: 0.1px;
            @include login-desp();
        }

        .email-row{
            font-size: 0px;
            padding: 0px ;
        }

        #forgotEmail{
            @include forgot();    
        }

        #forgotPassword{
            @include forgot();
        }

        .text{
            margin: 5vh 0vw 3vh 0vw;
            font-size: 15px;
            display: flex;
        }

        .learnmore{
            color: $color-primary;
            display: flex;
            margin-top: -10px;
        }

        .create{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .l-text{
            color:$color-primary;
            font-size: 15px;
        }

        .l-next{
            color: whitesmoke;
            margin: 0vh 2vw; 
            background-color: $color-primary;
            padding: 10px;
            border: none;
        } 

        .last-section{
            direction: rtl; 
        }

        @media only screen and (max-width:600) {
            .page-container{
                border: none;
                width: 100%;
            }
            
        }
    }
}