
$icon1Color : #777777;

@mixin inputSearch {
    height: 1cm;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f1f3f4;  
}



@mixin searchBar {
    border: none;
    outline: none;
    width: 60%;
    height: 40px;  
    border-radius: 5px;
    box-sizing: border-box;    
    background-color: #f1f3f4;
}
.heaadbar{
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;

.search-bar{
    @include searchBar();
    background-color: #f1f3f4;
  

    .input-search{
        @include inputSearch();
    }
    #search-icon{
    align-self: center;
    }

}
.searchIcon{
    display: flex;
}

.nav-right-icon{
     width: 15%;
     display: flex;
     justify-content:space-between;
     align-items: center;
}
}

.drawer{
   z-index: 1;
}




@media only screen and (max-width:600px){
    .heaadbar{
    .search-bar{
        display:none;
        width: 0%;
    }
    .nav-right-icon{
        width: 30%;
    }
}

    
}
    





