/* .main-page{
    width: 100%;
    height: 60%;
    margin: 15vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 30%;
    height: 65vh;
    border: 1px solid rgb(207, 203, 203);
    border-radius: 8px;
    justify-content: center;    
    align-items: center;
}*/
/* .google-title{
    display: flex;
    font-size: 25px;
    margin-left: 40px;
    
}  */
/* .find-email{
    margin-top: 20px;
}
.first-part{
    justify-content: center;
    margin-bottom: 20px;
}
.password-para{
    font-size: 22px;
   
} */
/* .password-text{     
        display: flex; 
        width: 90%;
        margin: 0vh -2vw 4vh 2vw;
        justify-content: center;
    
}
.confirm-password
{
     
    display: flex; 
    width: 90%;
    margin: 0vh -2vw 2vh 2vw;
    justify-content: center;
} */
/* .next-button{
    margin: 5vh 0vw 0vh 20vw ;
    color: white;
    background-color: rgb(9, 123, 194);
    border: none;
    font-size: 20px;
} */