.disp-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 240px;
    height: 120px;

    .display-box{
        margin: 15px;
        width: 240px;
        height: 120px;
        box-shadow: -1px -1px 5px gray;
        border: lightgray;
        border-radius: 6px;
    }

   .descp-title{
        outline: none;
        border: none;
        width: 75%;
        // height: 50%;
        height: 60%;
        margin-left: 6px;
        line-height: 2.2;

    }

    .disp-icons{
        width: 100%;
        display: flex;
        justify-content: space-between;
       
    }
    

    }
    .close-Icon{
        display: flex;
        margin: 0vh -4vw;
    
}

@media only screen and (max-width:900px){
    .disp-container{
        grid-template-columns: repeat(2,1fr);   
    
    .display-box{
        width: 250px;
    }
}
}

@media only screen and (max-width:600px){
    .disp-container{
        grid-template-columns: repeat(2,1fr);   
    
    .display-box{
        width: 160px;
    }
}
}


@media only screen and (max-width:470px){
    .disp-container{
        grid-template-columns: repeat(1,1fr);   
    
    .display-box{
        width: 250px;
    }
}
}

