.disp-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 240px;
    height: 120px;

    .display-box{
        margin: 15px;
        width: 240px;
        height: 120px;
        box-shadow: -1px -1px 5px gray;
        border: lightgray;
        border-radius: 6px;
    }

   .descp-title{
        outline: none;
        border: none;
        width: 75%;
        height: 50%;

    }

    .disp-icons{
        width: 100%;
        display: flex;
        justify-content: space-between;
       
    }
    

    }
    .close-Icon{
        display: flex;
        margin: 0vh -4vw;
    
}

