.icons-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 9px;
    
}
.colorPallets{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display:inline-flex;

}