.main-page{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #202124;
    direction: ltr;
}
.main-container{
    height: 80vh;
    width: 60%;
    padding: 48px 40px 36px 40px;
    align-items: center;
    border: 1px solid gray;
    display: flex;
    border-radius: 5px;
}
.left-part{
    width: 60%;
    height: 80vh;
    background-color: gray;

}
.google-title{
    color:red;
    width: 80%;
    display: flex;
    font-weight:bold;
    font-size: 20px;
}
.heading{
     display: flex; 
    width: 80%;
    font-size: 22px;
}

.name-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 60%;
}
.right-part{
    width:40%;
    height: 80vh;
    background-color: lightblue;
}